/* HERO */
.hero {
  background: #e0e0e0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOTÃO DOWNLOAD */
.btn-download {
  background: #8cec74;
  color: white;
  border: none;
  padding: 22px 60px;
  font-size: 22px;
  border-radius: 18px;
  cursor: pointer;
}

/* MENU PRINCIPAL */
.menu-principal {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px 20px;
}

/* BOTÕES DO MENU */
.btn-menu {
  background: #dc7dec;
  color: white;
  text-decoration: none;
  padding: 22px 50px;
  border-radius: 20px;
  font-size: 20px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-menu:hover {
  transform: scale(1.07);
  opacity: 0.9;
}


@media (max-width: 768px) {

  .hero {
    height: 260px;
  }

  .btn-download {
    width: 90%;
    max-width: 320px;
    padding: 24px 0;
    font-size: 20px;
  }

  .menu-principal {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .btn-menu {
    width: 90%;
    max-width: 320px;
    padding: 22px 0;
    font-size: 18px;
    text-align: center;
  }
}
